<!DOCTYPE html>
<html lang>
<head>
  <meta charset="UTF-8">
  <title>음식</title>
</head>
<body>
  <h1>좋아하는 음식</h1>
  <ul>
    <li><%= food1 %></li>
    <li><%= food2 %></li>
    <li><%= food3 %></li>
  </ul>
</body>
</html>