<!DOCTYPE html>
<html lang>
<head>
  <meta charset="UTF-8">
  <title>음식</title>
</head>
<body>
  <h1>좋아하는 음식</h1>
  <ul>
    <% food.forEach(function (e) { %>
      <li><%= e %></li>
    <% }); %>
  </ul>
</body>
</html>